<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
<nav>
  
  <h1>Flask test</h1>

  <div>
    <ul><a>Temperature: {{ temp }}</a></ul>
    <ul><a>Pressure: {{ pres }}</a></ul>
    <ul><a>Humidity: {{ hum }}</a></ul>
    <ul><a>Written: {{ created }}</a></ul>
    <br>
    <br>
    <a href={{ url_for('plot') }}>Graphs</a>
</div>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>